.section_grade {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0;
    gap: 20px;
}
.section_grade-title {
    font-size: clamp(1.5em, 5vw, 3em); 
    font-weight: 600;
    color: #004085;
  }
.h3 {
  font-size: clamp(1em, 3vw, 1.2em); 
}
  .section_grade-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .circle {
    width: 32px;
    height: 32px;
    background-color: #004085;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .section_grade-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1em, 3vw, 2em); 
    gap: 4px;
    font-weight: 500;
    color: #fe722b;
    border: 2px solid #fe722b;
    border-radius: 20px;
    padding: 20px;
}
  .section_grade-img {
    width: 32px;
    height: 32px;
    transform: rotate(38deg);
    margin-left: auto;
  }
  .section_grade-number {
    font-size: 1.5em;
    font-weight: 600;
    color: #004085;
    margin-bottom: 10px;
  }
  
  .section_grade-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #004085;
    line-height: 1.5;
    list-style-type: disc;
    padding-left: 20px;
    li {
      font-size: clamp(1em, 3vw, 1.2em); 
    }
    h3 {
      font-size: clamp(1em, 3vw, 2em); 
      font-weight: 300;
    }
  }
  .section_grade-text li::marker {
    color: #004085;
    font-size: 1.2em;
  }
  .section_grade-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fe722b;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  .circle_number {
    color: white; /* Белый цвет цифры */
    font-size: 24px; /* Размер шрифта */
    font-weight: 600; /* Жирный шрифт */
    line-height: 1; /* Убираем лишний отступ */
  }
  @media (min-width: 768px) {
    .section_grade-img {
      width: 40px;
      height: 40px;
    }
    .circle {
      width: 50px; /* Размер круга */
      height: 50px; /* Размер круга */
      margin-right: 10px;
  }
    .section_grade-contents {
      flex-direction: column;
      justify-content: space-between;
    }
    .section_grade-content {
      gap: 12px;
    }
    .section_grade {
      padding: 50px;
      padding-bottom: 0;
      gap: 20px;
    }
  }




