.section_slider {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    transition: transform 0.5s ease-in-out;
}
.slider2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 450px;
    max-width: 320px;
    margin: 0 auto;
  }
.slide {
    width: 100%;
  box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}


.controls {
    /* position: absolute; */
    display: flex;
    height: 10px;
    justify-content: space-between;
    color: #004085;
    /* transform: translateY(-100%); */
}
.controls label {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.5em;
    user-select: none;
}

.arrow {
    cursor: pointer;
    font-size: 2em;
    color: #004085;
    background-color: rgba(255, 255, 255, 255.3);
    padding: 10px;
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
.arrow:hover {
    background-color: #004085;
    color: white;
  }

.controls label:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#slide1:checked ~ .slides {
    transform: translateX(1%);
}

#slide2:checked ~ .slides {
    transform: translateX(-19%);
}

#slide3:checked ~ .slides {
    transform: translateX(-38%);
}

#slide4:checked ~ .slides {
    transform: translateX(-57%);
}

#slide5:checked ~ .slides {
    transform: translateX(-79%);
}

input[type="radio"] {
    display: none;
}
.arrow.prev {
    left: 10px; /* Стрелка "назад" слева */
  }
  
  .arrow.next {
    right: 10px; /* Стрелка "вперед" справа */
  }
  
  .navigation {
    position: absolute;
    transform: translateX(20%);
    display: flex;
    gap: 10px;
  }
  
  .nav-button {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Активная навигационная кнопка */
  #slide1:checked ~ .navigation .nav-button:nth-child(1),
  #slide2:checked ~ .navigation .nav-button:nth-child(2),
  #slide3:checked ~ .navigation .nav-button:nth-child(3),
  #slide4:checked ~ .navigation .nav-button:nth-child(4),
  #slide5:checked ~ .navigation .nav-button:nth-child(5) {
    background-color: #004085;
  }
@media (min-width: 768px) {

    .navigation {
        position: absolute;
        transform: translateX(250%);
        display: flex;
        gap: 10px;
    }
    .nav-button {
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .section_slider {
        padding: 50px;
      }
    .slider2 {
        max-width: 1000px;
        overflow: hidden;
    }
    #slide1:checked ~ .slides {
        transform: translateX(1%);
    }
    
    #slide2:checked ~ .slides {
        transform: translateX(-19%);
    }
    
    #slide3:checked ~ .slides {
        transform: translateX(-38%);
    }
    
    #slide4:checked ~ .slides {
        transform: translateX(-57%);
    }
    
    #slide5:checked ~ .slides {
        transform: translateX(-76%);
    }
}